<footerNav id="footerNav">
    <div id="footerNav1">
      <div class="fn fn1">
        <div class="fn-icon">
          <button style="border: none; background-color: white">
           <i> 
            <img
              src="../images/c-logo/IMG_20240206_093339.jpg"
              alt="4U"
              style="height: 15px; width: 15px; border-radius: 4px"/> 
            </i>
            <div>4U</div>
          </button>
        </div>
      </div>

      <div class="fn fn2">
        <div class="fn-icon">
          <button style="border: none; background-color: white">
            <i
              class="fa-solid fa-question"
              style="
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 2px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
            </i>
            <div>Help</div>
          </button>
        </div>
      </div>

      <div class="fn fn3">
        <div class="fn-icon">
          <button style="border: none; background-color: white">
            <i class="fa-regular fa-rectangle-list"></i>
            <div>Bookings</div>
          </button>
        </div>
      </div>

      <div class="fn fn4">
        <div class="fn-icon">
          <button style="border: none; background-color: white">
            <i class="fa-regular fa-user"></i>
            <div>Profile</div>
          </button>
        </div>
      </div>
    </div>
  </footerNav>