<footer id="footer"> 
    <div id="footer1">
      <div id="ftr-content"> 
        <div id="f1" class="ftr">
          <h3>Company</h3>
          <div id="f1I" class="ftrI">
             <div class="ftrI-T"><a href="#">About us</a></div>
             <div class="ftrI-T"><a href="#">Privacy policy</a></div>
             <div class="ftrI-T"><a href="#">Terms & condition</a></div>
             <div class="ftrI-T"><a href="#">Careers</a></div>
          </div>
        </div>
  
        <div id="f2" class="ftr">
          <h3>For customers</h3>
          <div id="f3I" class="ftrI">
             <div class="ftrI-T"><a href="#">4U reviews</a></div>
             <div class="ftrI-T"><a href="#">Blog</a></div>
             <div class="ftrI-T"><a href="#">services near you</a></div>
             <div class="ftrI-T"><a href="#">Contact us</a></div>
          </div>
        </div>
  
        <div id="f3" class="ftr">
          <h3>For partners</h3>
          <div id="f3I" class="ftrI">
             <div class="ftrI-T"><a href="#">Register as a professional</a></div>
             <div class="ftrI-T"><a href="#">Already had worked with us</a></div>
          </div>
        </div>
  
        <div id="f4" class="ftr">
          <h3>Connect with us</h3>
          <div id="f4I" class="ftrI">
             <span class="ftrI-icon"> <i class="fa-brands fa-facebook"></i> </span>
             <span class="ftrI-icon"> <i class="fa-brands fa-x-twitter"></i> </span>
             <span class="ftrI-icon"> <i class="fa-brands fa-instagram"></i>  </span>
             <span class="ftrI-icon"> <i class="fa-brands fa-linkedin"></i> </span>
          </div>
        </div>
      </div>
      <div id="copyright"> 
        <div> &copy; Copyright 2024 4U company. All rights reserved.</div>
      </div>
    </div>
  </footer>