<div id="main">
    <section id="main1">
      <div id="home-services" class="p">
        <section id="services">
            <div class="services1 word">
            Home services at your door step.
            </div>

            <div class="services2">
              <div class="looking">Looking for?</div>

              <div class="a">
 
                <jai class="a1 az">
                <a href="/ac">
                  <button class="sBtn" id="B3">
                    <img src="../images/ac/1.png" alt="" />
                  </button>
                </a>
                <div>AC repair</div>

                <!-- <div class="container1" id="CACappliance" style="display: none;">
                  <div class="c1Heading"> <h1>AC & appliance repair</h1> </div>
                  <div class="c1Cards">

                    <div class="c1Crd">
                       <a class="c1C" href="/ac-aplnc"> 
                        <div class="c1Cimg"> <img src="../images/ac/2.png" alt="AC services"> </div>
                        <div>AC</div>
                       </a>
                    </div>                   
                     
                    <div class="c1Crd">
                       <a class="c1C" href="/ac-aplnc"> 
                        <div class="c1Cimg"> <img src="../images/fridge/1.png" alt="Fridge"> </div>
                        <div>Fridge</div>
                       </a>
                    </div>                   
                     
                    <div class="c1Crd">
                       <a class="c1C" href="/ac-aplnc"> 
                        <div class="c1Cimg"> <img src="../images/washing/1.png" alt="Washing machine"> </div>
                        <div>Washing machine</div>
                       </a>
                    </div>                   
                     
                  </div>
                </div> -->
                </jai>

                <jai class="a2 az">
                <a href="/fridge">
                  <button class="sBtn" id="B1">
                    <img src="../images/fridge/1.png" alt="" />
                  </button>
                </a>
                <div>Fridge repair</div>

                <!-- <div class="container1" id="Cmen" style="display: none;">
                  <div class="c1Heading"> <h1>Men`s Parlour</h1> </div>
                  <div class="c1Cards">

                    <div class="c1Crd">
                       <a class="c1C" href="/menP"> 
                        <div class="c1Cimg"> <img src="../images/men/1.png" alt="Men`s salon"> </div>
                        <div>Men`s salon</div>
                       </a>
                    </div>                   
                     
                    <div class="c1Crd">
                       <a class="c1C" href="/menP"> 
                        <div class="c1Cimg"> <img src="../images/women/massage.png" alt="Men`s spa" style="zoom: 200%;"> </div>
                        <div>Men`s spa</div>
                       </a>
                    </div>                   
                     
                    <div class="c1Crd">
                       <a class="c1C" href="/menP"> 
                        <div class="c1Cimg"> <img src="../images/men/3.png" alt="Men`s salon"> </div>
                        <div>Men`s hair studio</div>
                       </a>
                    </div>                   
                     
                  </div>
                </div> -->
                </jai>

                <jai class="a3 az">
                <a href="/washingMachine"> 
                  <button class="sBtn" id="B3">
                    <img src="../images/washing/1.png" alt="" />
                  </button>
                </a>
                <div>Washing machine</div>

                <!-- <div class="container1" id="CACappliance" style="display: none;">
                  <div class="c1Heading"> <h1>AC & appliance repair</h1> </div>
                  <div class="c1Cards">

                    <div class="c1Crd">
                       <a class="c1C" href="/ac-aplnc"> 
                        <div class="c1Cimg"> <img src="../images/ac/2.png" alt="AC services"> </div>
                        <div>AC</div>
                       </a>
                    </div>                   
                     
                    <div class="c1Crd">
                       <a class="c1C" href="/ac-aplnc"> 
                        <div class="c1Cimg"> <img src="../images/fridge/1.png" alt="Fridge"> </div>
                        <div>Fridge</div>
                       </a>
                    </div>                   
                     
                    <div class="c1Crd">
                       <a class="c1C" href="/ac-aplnc"> 
                        <div class="c1Cimg"> <img src="../images/washing/1.png" alt="Washing machine"> </div>
                        <div>Washing machine</div>
                       </a>
                    </div>                   
                     
                  </div>
                </div> -->
                </jai>

                <jai class="a4 az">
                <a href="/electrician"> 
                  <button class="sBtn" id="B4">
                    <img src="../images/carpenter/1.png" alt="" />
                  </button>
                </a>
                <div>Electrician</div>

                <!-- <div class="container1" id="EPC" style="display: none;">
                  <div class="c1Heading"> <h1>Electrician ,Plumber & Carpenter</h1> </div>
                  <div class="c1Cards">

                    <div class="c1Crd">
                       <a class="c1C" href="/EPC"> 
                        <div class="c1Cimg"> <img src="../images/carpenter/2.png" alt="Electrician"> </div>
                        <div>Electrician</div>
                       </a>
                    </div>  

                    <div class="c1Crd">
                       <a class="c1C" href="/EPC"> 
                        <div class="c1Cimg"> <img src="../images/water-leakege/1.png" alt="Plumber"> </div>
                        <div>Plumber</div>
                       </a>
                    </div>                   

                    <div class="c1Crd">
                       <a class="c1C" href="/EPC"> 
                        <div class="c1Cimg"> <img src="../images/carpenter/4.png" alt="Carpenter"> </div>
                        <div>Carpenter</div>
                       </a>
                    </div>                   

                  </div>
                </div> -->
                </jai>

                <jai class="a5 az">
                <a href="/plumber"> 
                  <button class="sBtn" id="B5">
                    <img src="../images/water-leakege/1.png" alt="" />
                  </button>
                </a>
                <div>Plumber</div>

                <!-- <div class="container1" id="cleaningS" style="display: none;">
                  <div class="c1Heading"> <h1>Cleaning services</h1> </div>
                  <div class="c1Cards">

                    <div class="c1Crd">
                       <a class="c1C" href="/cleaning"> 
                        <div class="c1Cimg"> <img src="../images/cleaning/1.png" alt="House cleaning"> </div>
                        <div>House cleaning</div>
                       </a>
                    </div>                   
                     
                    <div class="c1Crd">
                       <a class="c1C" href="/cleaning"> 
                        <div class="c1Cimg"> <img src="../images/cleaning/1.png" alt="Kitchen cleaning"> </div>
                        <div>Kitchen cleaning</div>
                       </a>
                    </div>                   
                     
                    <div class="c1Crd">
                       <a class="c1C" href="/cleaning"> 
                        <div class="c1Cimg"> <img src="../images/cleaning/1.png" alt="Bathroom cleaning"> </div>
                        <div>Bathroom cleaning</div>
                       </a>
                    </div>                   
                     
                  </div>
                </div> -->
                </jai>

                <jai class="a6 az">
                <a href="/carpenter"> 
                  <button class="sBtn" id="B6">
                    <img src="../images/carpenter/3.png" alt="" />
                  </button>
                </a>
                <div>Carpenter</div>

                <!-- <div class="container1" id="cleaningS" style="display: none;">
                  <div class="c1Heading"> <h1>Carpenter services</h1> </div>
                  <div class="c1Cards">

                    <div class="c1Crd">
                       <a class="c1C" href="/cleaning"> 
                        <div class="c1Cimg"> <img src="../images/cleaning/1.png" alt="House cleaning"> </div>
                        <div>House cleaning</div>
                       </a>
                    </div>                   
                     
                    <div class="c1Crd">
                       <a class="c1C" href="/cleaning"> 
                        <div class="c1Cimg"> <img src="../images/cleaning/1.png" alt="Kitchen cleaning"> </div>
                        <div>Kitchen cleaning</div>
                       </a>
                    </div>                   
                     
                    <div class="c1Crd">
                       <a class="c1C" href="/cleaning"> 
                        <div class="c1Cimg"> <img src="../images/cleaning/1.png" alt="Bathroom cleaning"> </div>
                        <div>Bathroom cleaning</div>
                       </a>
                    </div>                   
                     
                  </div>
                </div> -->
                </jai>

              </div>
            </div>

            <div class="rating-cstm">
            <span class="rtng-cstm rtng">
               <div class="rtcs-icon rtng-icon"> <i class="fa-regular fa-star"></i> </div>
               <span class="rtcs-T rtng1"> 
                  <div> <h3>4.7</h3></div>
                  <div> <p> Service Rating </p></div>
               </span>
            </span>
            <span class="rtng-cstm cstm">
             <div class="rtcs-icon cstm-icon"> <i class="fa-solid fa-users-line"></i> </div>
             <span class="rtcs-T cstm1"> 
              <div> <h3>50K</h3></div>
              <div> <p> Customers </p> </div>
           </span>
            </span>
            </div>
        </section>

        <section id="service-img">
          <div class="service-img-div1"> </div>
          <div>
            <img src="../images/women/5.jpeg" alt="" class="img1" />
            <img src="../images/men/4.jpg" alt="" class="img2" />
          </div>
          <div>
            <img src="../images/ac/5.jpg" alt="" class="img3" />
            <img src="../images/chimney/2.jpeg" alt="" class="img4" />
          </div>
        </section>
      </div>

    </section>
  </div>